

body {
	background: url("../img/black_thread.png");
	color: white;
}
h1 {
	text-align: center;
	font-family: helvetica;
}

li {
	display: inline;
	text-decoration: none;
	background: lightblue;



}
.celeste {
	width: 1000px;
	border: ridge;

}