@import url(http://fonts.googleapis.com/css?family=Spinnaker);
body {
 	background: white;

 }
h1 {
	font-family: 'Spinnaker';
	font-weight: 400;
	font-style: italic;
	text-align: center;
	font-size: 55px;
	
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: 0;
	color: #0F9399;
}
ul {
	text-align: center;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
li {
	display: inline;
	text-decoration: none;
	padding: 0 45px;
	font-family: verdana;
	font-size: 17px;
}
h3 {
	margin-left: 20px;
	font-family: 'Spinnaker';
	color: teal;
	font-size: 23px;
	margin-bottom: -3px;
}
p {
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	font-family: verdana;
	color: black;
}
.content {
	text-align: center;
}
a {
	text-decoration: none;
	font-family: verdana;
	color: teal;
	font-size: 20px;
}
.obj {
	height: 213px;
}

a:hover {
	color: #0099FF; 
}

.footer a {
	text-align: right;
	padding-top: 20px;
	font-size: 20px;
	color: #FF0044;
	display: block;
}
.vcd, .obj, .add, .celeste, .small {
	background: transparent;
	box-shadow: 5px 5px 13px 7px rgba(51, 51, 51, 0.1);
	border-radius: 2px;
}
.celeste:hover, .small:hover {

	box-shadow: 5px 5px 13px 7px rgba(51, 51, 51, .5);
}





